@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat), sans-serif;
  --font-clash: var(--font-clash), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes marqueeLeft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marqueeRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.track-to-left {
  display: flex;
  animation: marqueeLeft 10s linear infinite;
}

.track-to-right {
  display: flex;
  animation: marqueeRight 10s linear infinite;
}

.group:hover .track-to-left,
.group:hover .track-to-right {
  animation-play-state: paused !important;
}